.map {
    width:814px;
    height:482px;
    margin-right:auto;
    margin-left:auto;
    }
    
.badger{
color: #b70101;
text-align: center;
font-family:cursive;
}

body {
    background-color:#E7D9C1;
}
    
    
<<<<<<< HEAD
    
    
=======
>>>>>>> d67c4992ab577194a15440f7b46e526c665a448f
