body{
	z-index:1;
	}
	
select {
	z-index:3;
	margin-left:12%;
	margin-top:10px;
}

.map {
		 position:relative;
        width: 700px;
         height: 600px;
        margin-right: auto;
        margin-left: 250px;
        z-index:1;
        box-shadow: 0 0 5em gold;
        margin-top:-15px;
        
       
            }
.header{
    text-align:center;
    margin-right: auto;
    margin-left: auto;

}

p {
    text-align:left;
}

.buttons {
	
	z-index:2;
	float:left;
	margin:15px;
	margin-left:30px;
	margin-top:0px;
	position:absolute;
	

}

#zoom {
	float:left;
	position:absolute;
	
}

#featurelist{
	margin-top:40px;
}

button{
	margin-top:15px;
	margin-bottom:15px;
	width:140px;	
}

content {
	clear:both;
	margin-left:15px;
	margin-right:15px;
	margin-top:15px;
	
}

.mapmov {
	
}

@media screen and (max-width:900px){

#featurelist {
	display:none;
	
}

button{
	margin-top:15px;
	margin-right:15px;
	z-index:2;
}
.buttons{
	z-index:3;
	margin-top:15px;
	float:left;
	margin-top:600px;
	margin-right:20px;
	
	
	}

.buttons br {
	display:none;
	
}

.map{
	z-index:1;
	position:relative;
	margin-left:4%;

}
content{
	clear:both;
}

.writin {
	position:inherit;
	clear:both;
	z-index:1;
}
}

/* added for JS
dfdk */
		#featurelist{
		    border: 1px solid black;
		    width: 200px;
		    height: 500px;
		    overflow: auto;
		    float: left;
		    
		}

		#mapcontainer{
		    border: 1px solid black;
		    width: 700px;
		    height: 500px;
		    margin-left:210px;  
		}
		
		#map{
		    width: 100%;
		    height: 100%;
		    z-index:1;
		}
		.ui-widget {
			font-family: Verdana,Arial,sans-serif;
			font-size: 14px;
		}
		.ui-autocomplete {
			cursor: default;
			z-index:1000 !important;
		} 