body{
	z-index:1;
	}

.map {
		 position:relative;
        width: 700px;
         height: 600px;
        margin-right: auto;
        margin-left: 250px;
        z-index:0;
        box-shadow: 0 0 5em gold;
        
       
            }
.header{
    text-align:center;
    margin-right: auto;
    margin-left: auto;

}

p {
    text-align:left;
}

.buttons {
	position:relative;
	z-index:2;
	float:left;
	margin-right:10px;

}

button{
	margin-top:5px;
	margin-bottom:10px;
	width:140px;	
}

content {
	clear:both;
	margin-left:15px;
	margin-right:15px;
	margin-top:15px;
	
}

.mapmov {
	
}

@media screen and (max-width:900px){

button{
	margin-top:15px;
	margin-right:15px;
}
.buttons{
	z-index:3;
	margin-top:15px;
	float:left;
	margin-top:600px;
	margin-right:20px;
	
	
	}

.buttons br {
	display:none;
	
}

.map{
	z-index:1;
	position:absolute;
	margin-left:4%;

}

.writin {
	position:inherit;
	clear:both;
	z-index:1;
}
}