body{
	z-index:1;
	}

.map {
        width: 700px;
         height: 600px;
        margin-right: auto;
        margin-left: auto;
        z-index:0;
        box-shadow: 0 0 5em gold;
            }
.header{
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    font-family: Raleway;
}

p {
    text-align:left;
}

.buttons {
	position:absolute;
	z-index:2;
	
}

button{
	margin-top:5px;
	margin-bottom:10px;
	width:140px;	
}